.formfield {
    margin: 10px;
    display: flex;
    text-align: center;
}

.formfield > legend {
    margin-left: 50px;
    font-weight: bold;
}

.list {
    min-width: 33%;
}

.button#delbutton {
    font-style: normal;


  border: none;
  border-radius: 6px;

  float: right;
}

.button#rmv {
    float: right;
    margin-right: 50px;
}

.button#gen {
    display: block;
    margin: 0 auto;
}

.bad {
    text-align: center;
    color: darkred;
}