@charset "utf-8";
@import "global-reset.css";

/* Set the root colors of the webpage. */
:root {
  --dark-jungle-green: #182825ff;
  --spanish-blue: #016fb9ff;
  --pacific-blue: #22aed1ff;
  --light-slate-gray: #6d8ea0ff;
  --khaki-web: #afa98dff;
}

html {
  margin: 0;
}

body {
  background-color: var(--khaki-web);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}